<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上预约挂号系统</title>
</head>
<link rel="stylesheet" href="./styles/common.css">
<link rel="stylesheet" href="./styles/index.css">
<link rel="stylesheet" href="./styles/calendar.css">
<link rel="stylesheet" href="./styles/csslunbo.css">
<body>
<div id="online">
    <div class="top">
        <div class="slideshow">
            <div class="swiper-container" style="width: 100%;height: 350px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./images/2.jpeg" height="350" width="1600"/>
                    </div>
                    <div class="swiper-slide"><img src="./images/3.jpeg" height="350" width="1600" />
                    </div>
                    <div class="swiper-slide"><img src="./images/4.jpeg" height="350" width="1600" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="heng"></div>
    <div class="nav">
        <ul>
            <li><a href="./index.html">首页</a></li>
            <li><a href="./doctorEnquiry.html">医生查询</a></li>
            <li><a href="./onLine.html">在线预约</a></li>
            <li><a href="./publicInfo.html">公告信息</a></li>
            <li><a href="./registered.html">患者注册</a></li>
        </ul>
    </div>

    <div class="content clearfix">
        <div class="left fl">
            <div class="list">
                <div class="listTop">
                    <div class="text">
                        <img src="./images/yuyue.jpg" alt="">
                        <span>在线预约</span>
                    </div>
                </div>
                <div class="addImg">
                    <img src="./images/114.jpg" alt="">
                </div>
                <div class="xianBottom ">
                    <ul>
                        <li>
                            专家姓名：
                            <select name="doctorId" lay-verify="" id="expertDataID" defaultValue="0"></select>
                        </li>
                        <li>
                            所患疾病： <input v-on:blur="conDisease" v-model="illness" class="put" type="text"/>
                            <span>{{errorConDisease}}</span>
                        </li>
                        <li>
                            预约日期： <input type="text" id="test5">
                        </li>
                        <li>
                            <input class="btn" @click="confirm" type="button" value="确定"/>
                            <input class="btn" @click="reset" type="reset" value="重置"/>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="right fr">
            <div class="login" id="loginInput">
                <ul>
                    <li>
                        账号：<input class="zhHao" v-on:blur="checkUser" v-model="userLoginName"  type="text" placeholder="请输入用户名">
                    </li>
                    <p>{{errorLoginUser}}</p>
                    <li>
                        密码：<input class="zhHao" v-on:blur="checkPass" v-model="passLoginWord" type="password" placeholder="请输入密码">
                    </li>
                    <p>{{errorLoginPass}}</p>
                    <li>
                        <input class="btn" type="button" @click="checkLogin" value="登录">
                        <input class="btn" type="button" @click="Register" value="注册">
                    </li>
                </ul>
            </div>
            <div class="userInfo" id="username">
                <ul>
                    <li>
                        <span>欢迎您：</span>
                        <span id="realUser"></span>
                    </li>
                    <li>
                        <button  @click="cancelExit" value="注销退出">注销退出</button>
                    </li>
                </ul>
            </div>
            <div class="myOn" id="myOnLine">
                <a href="myAppointment.html">
                    <img src="./images/123.png" alt="">
                </a>
                <div>
                    <p>我的预约</p>
                </div>
            </div>
        </div>
    </div>

    <div class="font">
        <p>联系方式&nbsp;电话：18292926771</p>
        <p>版权所有&copy;陕西国际商贸学院</p>
        <p>地址：陕西省咸阳市统一路世纪大道</p>
    </div>
</div>
<script type="text/javascript" src="./script/vue.min.js"></script>
<script type="text/javascript" src="./script/toolJs.js"></script>
<script type="text/javascript" src="./script/jquery.js"></script>
<script type="text/javascript" src="./script/lyz.calendar.min.js"></script>
<script type="text/javascript" src="./script/lunBo1.js"></script>
<script type="text/javascript" src="./laydate/laydate.js"></script>
<script type="text/javascript">
    laydate.render({
        elem: '#test5'
        ,type: 'datetime'
    });
    $(function () {
        document.getElementById("realUser").innerHTML = show();

        $.ajax({
            type: "get",
            url: getUrl() + "/out/api/doctorList",
            dataType: "json",
            data: {},
            async: "false",
            success: function (result) {
                console.log(result);
                var a = result.dataList;
                $("#expertDataID").append("<option value=" + null + " selected>" + "请选择");
                for (var i = 0; i < a.length; i++) {
                    $("#expertDataID").append("<option value=" + a[i].id + ">" + a[i].xingming);
                }
            }
        });
    });

    new Vue({
        el: '#online',
        data() {
            return {
                time: '',
                illness: '',
                errorConDisease:'',
                userLoginName: '',
                passLoginWord: '',
                errorLoginUser:'',
                errorLoginPass:''
            }
        },
        methods: {
            confirm() {
                var onToken = localStorage.getItem("token");
                if (onToken){
                    if (this.illness) {
                        var expertId = $("#expertDataID").val();
                        var time = $("#test5").val();
                        var onlineData = {
                            time:time,
                            zhuanjiaid:expertId,
                            jibing:this.illness,
                            tokenNo:onToken
                        };
                        $.ajax({
                            type: "POST",
                            url: getUrl() + "/out/api/reservation",
                            dataType: "json",
                            data:onlineData,
                            success: function (result) {
                                if (result.code == 0) {
                                    alert(result.msg);
                                    parent.location.href = "/hospitalProject/myAppointment.html";
                                }
                                if (result.code == 500) {
                                    alert(result.msg)
                                }
                            },
                            error: function () {
                                alert("网络连接异常！")
                            }
                        });
                    } else {
                        alert("信息不能为空！");
                    }
                }else{
                    alert("预约，请您先登录！")
                }
            },
            reset() {
                this.illness = "";
            },
            conDisease(){
                if(this.illness){
                    this.errorConDisease = "";
                }else{
                    this.errorConDisease = "信息不能为空"
                }
            },
            checkUser(){
                if (this.userLoginName){
                    this.errorLoginUser = ""
                }else{
                    this.errorLoginUser= "账号不能为空";
                }
            },
            checkPass(){
                if (this.passLoginWord){
                    this.errorLoginPass = ""
                }else{
                    this.errorLoginPass= "密码不能为空";
                }
            },
            checkLogin() {
                localStorage.removeItem("token");
                if (this.userLoginName && this.passLoginWord) {
                    localStorage.setItem("userLoginName", this.userLoginName);
                    var loginData = {
                        username: this.userLoginName,
                        password: this.passLoginWord
                    };
                    $.ajax({
                        type: "POST",
                        url: getUrl() + "/sys/login",
                        data: loginData,
                        dataType: "json",
                        success: function (result) {
                            if (result.code == 0) {
                                localStorage.setItem("token", result.token);
                                document.getElementById("realUser").innerHTML = show();
                                parent.location.href = '/hospitalProject/index.html';
                            }
                            if (result.code == 500) {
                                alert(result.msg)
                            }
                        },
                        error: function () {
                            alert("请求失败")
                        }
                    });
                } else {
                    alert("用户和密码不能为空")
                }
            },
            Register() {
                parent.location.href = '/hospitalProject/registered.html';
            },
            cancelExit(){
                localStorage.removeItem("token");
                localStorage.removeItem("userLoginName");
                parent.location.href = '/hospitalProject/index.html';
            },
        },
    });

</script>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        effect: 'fade',
        autoplay: true,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>
</body>
</html>