<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上预约挂号系统</title>
</head>
<link rel="stylesheet" href="./styles/common.css">
<link rel="stylesheet" href="./styles/index.css">
<link rel="stylesheet" href="./styles/calendar.css">
<body>
<div id="online">
    <div class="top">
        <img src="./images/topimg.jpg" alt="">
    </div>
    <div class="heng"></div>
    <div class="nav">
        <ul>
            <li><a href="./index.html">系统首页</a></li>
            <li><a href="./doctorEnquiry.html">医生查询</a></li>
            <li><a href="./online.html">在线预约</a></li>
            <li><a href="publicInfo.html">公告信息</a></li>
            <li><a href="./registered.html">患者注册</a></li>
        </ul>
    </div>

    <div class="content clearfix">
        <div class="left fl">
            <div class="list">
                <div class="listTop">
                    <div class="text">
                        <span>在线预约</span>
                    </div>
                </div>
                <div class="xianBottom ">
                    <ul>
                        <li>
                            预约日期： <input class="time" id="txtBeginDate"/>
                        </li>
                        <li>
                            所患疾病： <input v-on:blur="conDisease" v-model="illness" class="put" type="text"/>
                        </li>
                        <span>{{errorConDisease}}</span>
                        <li>
                            你的姓名： <input v-on:blur="yourName" v-model="name" class="put" type="text"/>
                        </li>
                        <span>{{errorYourName}}</span>
                        <li>
                            联系方式： <input v-on:blur="phoneWay" v-model="phone" class="put" type="text"/>
                        </li>
                        <span>{{errorPhoneWay}}</span>
                        <li>
                            <input class="btn" @click="confirm" type="button" value="确定"/>
                            <input class="btn" @click="reset" type="reset" value="重置"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right fr">
            <div class="login" id="loginInput">
                <ul>
                    <li>
                        账号：<input class="zhHao" v-on:blur="checkUser" v-model="userLoginName"  type="text" placeholder="请输入用户名">
                    </li>
                    <p>{{errorLoginUser}}</p>
                    <li>
                        密码：<input class="zhHao" v-on:blur="checkPass" v-model="passLoginWord" type="password" placeholder="请输入密码">
                    </li>
                    <p>{{errorLoginPass}}</p>
                    <li>
                        <input class="btn" type="button" @click="checkLogin" value="登录">
                        <input class="btn" type="button" @click="Register" value="注册">
                    </li>
                </ul>
            </div>
            <div class="userInfo" id="username">
                <ul>
                    <li>
                        <span>欢迎您：</span>
                        <span id="realUser">admin</span>
                    </li>
                    <li>
                        <a href="">注销退出</a>
                    </li>
                    <li>
                        <a href="">管理中心</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="font">
        <p>联系方式&nbsp;电话：18142422763&nbsp;&nbsp;&nbsp;</p>
        <p>地址：陕西省咸阳市XXXXXX厦A区305号</p>
    </div>
</div>
<script type="text/javascript" src="./script/vue.min.js"></script>
<script type="text/javascript" src="script/toolJs.js"></script>
<script type="text/javascript" src="./script/jquery.js"></script>
<script type="text/javascript" src="./script/jquery-1.5.1.js"></script>
<script type="text/javascript" src="./script/lyz.calendar.min.js"></script>
<script type="text/javascript">
    //显示用户是否登录
    $(function () {
        localStorage.removeItem("dateTime");//移除日期
        show();
    });
    //登录成功 显示真实用户
    document.getElementById("realUser").innerHTML = show();

    new Vue({
        el: '#online',
        data() {
            return {
                time: '',
                illness: '',
                name: '',
                phone: '',

                errorConDisease:'',
                errorYourName:'',
                errorPhoneWay:'',
                //用户登录信息
                userLoginName: '',
                passLoginWord: '',
                errorLoginUser:'',
                errorLoginPass:''
            }
        },
        methods: {
            //在线预约请求信息校验
            confirm() {
                if (this.illness && this.name && this.phone) {
                    var onlineData = {
                        riqi:localStorage.getItem("dateTime"),
                        jibing:this.illness,
                        zhuanjia:this.name,
                    };

                    alert(JSON.stringify(onlineData));
                    // $.ajax({
                    //     type: "GET",
                    //     url: getUrl() + "sys/login",
                    //     data: onlineData,
                    //     dataType: "json",
                    //     success: function (result) {
                    //         if (result.code == 0) {//注册成功
                    //             localStorage.setItem("token", result.token);
                    //             parent.location.href = '/hospital/online.html';
                    //         }
                    //         if (result.code == 500) {
                    //             alert(result.msg)
                    //         }
                    //     },
                    //     error: function () {
                    //         alert("请求失败")
                    //     }
                    // });
                } else {
                    alert("信息不能为空");
                }
            },
            reset() {
                this.illness = "";
                this.name = "";
                this.phone = ""
            },
            //用户登录校验
            checkUser(){
                if (this.userLoginName){
                    this.errorLoginUser = ""
                }else{
                    this.errorLoginUser= "账号不能为空";
                }
            },
            checkPass(){
                if (this.passLoginWord && this.passLoginWord.length === 6){
                    this.errorLoginPass = ""
                }else{
                    this.errorLoginPass= "密码不能为空 长度必须为六位";
                }
            },
            //用户登录部分
            checkLogin() {
                if (this.userLoginName && this.passLoginWord) {
                    var loginData = {
                        userName: this.userLoginName,
                        password: this.passLoginWord
                    };
                    $.ajax({
                        type: "POST",
                        url: getUrl() + "/sys/login",
                        data: loginData,
                        dataType: "json",
                        success: function (result) {
                            if (result.code == 0) {//登录成功
                                localStorage.setItem("token", result.token);
                                localStorage.setItem("userLoginName", this.userLoginName);
                                parent.location.href = '/hospital/index.html';
                            }
                            if (result.code == 500) {
                                alert(result.msg)
                            }
                        },
                        error: function () {
                            alert("请求失败")
                        }
                    });
                } else {
                    alert("用户和密码不能为空")
                }
            },
            //注册
            Register() {
                parent.location.href = '/hospital/registered.html';
            },
            //非空校验
            conDisease(){
                if(this.illness){
                    this.errorConDisease = "";
                }else{
                    this.errorConDisease = "信息不能为空"
                }
            },
            yourName(){
                if(this.name){
                    this.errorYourName = "";
                }else{
                    this.errorYourName = "姓名不能为空"
                }
            },
            phoneWay(){
                if(this.phone){
                    this.errorPhoneWay = "";
                }else{
                    this.errorPhoneWay = "电话号码不能为空"
                }
            }
        }
    });
    //日期显示
    $("#txtBeginDate").calendar({
        controlId: "divDate",
        speed: 200,
        complement: true,
        readonly: true,
        upperLimit: new Date("2080/01/01"),
        lowerLimit: new Date("2011/01/01"),
        callback: function () {
            localStorage.removeItem("dateTime");//移除localStorage中的日期
            var date = $("#txtBeginDate").val();// 点击选择日期后的回调函数
            localStorage.setItem("dateTime",date);//选择日期 存储到localStorage
        }
    });

</script>

</body>
</html>